<div class="container">
  <div class="row">
    <div class="col-md-10 card card-body bg-light mb-2 mt-2">
      <div class="row">
  <div class="col-md-3">
    <label for="title" class="control-label">Title:</label>
  </div>
  <div class="col-md-7">
    <span name="title">
      {{task?.title}}
    </span>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <label for="description" class="control-label">Description:</label>
  </div>
  <div class="col-md-7">
    <span name="description">
      {{task?.description}}
    </span>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <label for="lastDate" class="control-label">Last Date:</label>
  </div>
  <div class="col-md-7">
    <span name="lastDate">
      {{task?.lastDate | date: 'MM/dd/yyyy'}}
    </span>
  </div>
</div>
<br>
<div class="row">
  <div class="offset-md-3 col-md-1">
    <button type="submit" class="btn btn-info" (click)="deleteTask()">Delete</button>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-danger" (click)="redirectToTaskList()">Cancel</button>
  </div>
</div>
    </div>
  </div>
</div>

